---
import Layout from '../../layouts/main.astro'
import ArticlePaginator from '../../components/articles/paginator.vue'
import ArticleList from '../../components/articles/list.vue'

export async function getStaticPaths({ paginate }: any) {
  const allPosts = await Astro.glob('./*.md');
  const sortedPosts = allPosts.sort((a: any, b: any) => +new Date(b.date) - +new Date(a.date))

	return paginate(sortedPosts, {
		pageSize: 8
	})
}

const { page } = Astro.props
---

<Layout title="Articles">
	<header class="max-w-2xl">
		<h1 class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-5xl sm:leading-tight">
			Writing on PHP, TypeScript, Inertia, and web development in general.
		</h1>
	</header>

	<ArticleList articles={page.data} />
	<ArticlePaginator page={page} />
</Layout>
