@import "tailwindcss";
@import "@nuxt/ui";
@source "../content/blog";

@theme {
	--font-sans: "iA Writer Quattro";
	--font-mono: "JetBrains Mono", monospace;

	--color-pink-50: oklch(0.983 0.009 0.36);
	--color-pink-100: oklch(0.976 0.012 4.91);
	--color-pink-200: oklch(0.951 0.026 2.84);
	--color-pink-300: oklch(0.928 0.039 2.03);
	--color-pink-400: oklch(0.895 0.058 2.33);
	--color-pink-500: oklch(0.873 0.072 2.41);
	--color-pink-600: oklch(0.737 0.173 2.22);
	--color-pink-700: oklch(0.61 0.246 2.64);
	--color-pink-800: oklch(0.455 0.184 2.89);
	--color-pink-900: oklch(0.299 0.121 2.78);
	--color-pink-950: oklch(0.217 0.088 2.98);
}

:root {
	--ui-container: var(--container-3xl);
	--ui-primary: var(--ui-color-primary-500);

	&.dark {
		--ui-primary: var(--ui-color-primary-300);

		--ui-bg: var(--ui-color-neutral-950);
		--ui-bg-muted: var(--ui-color-neutral-900);
		--ui-bg-elevated: var(--ui-color-neutral-900);
		--ui-bg-accented: var(--ui-color-neutral-800);
		--ui-bg-inverted: var(--ui-color-neutral-100);

		--ui-text-dimmed: var(--ui-color-neutral-700);
		--ui-text-muted: var(--ui-color-neutral-600);
		--ui-text-toned: var(--ui-color-neutral-500);
		--ui-text: var(--ui-color-neutral-400);
		--ui-text-highlighted: var(--ui-color-neutral-100);
	}

	#__nuxt {
		@apply min-h-screen flex flex-col relative;

		&:before {
			content: "";
			background-color: transparent;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
			background-repeat: repeat;
			background-size: 182px;
			opacity: 0.1;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}

/*
|--------------------------------------------------------------------------
| Code highlighting
|--------------------------------------------------------------------------
*/

.prose pre {
	@apply whitespace-pre;
}

/*
|--------------------------------------------------------------------------
| Scrollbars
|--------------------------------------------------------------------------
*/

/* Scrollbar width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 4px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
	background: var(--ui-border);
	border-radius: 4px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--ui-text-dimmed);
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--ui-border) transparent;
}
