---
import Navigation from '../components/navigation.vue'
import Header from '../components/header.astro'

export type Props = {
	'full-title'?: string
	title?: string
}

const title = Astro.props['full-title'] ?? `${Astro.props.title} - Enzo Innocenzi`
---

<!DOCTYPE html>
<html class="h-full antialiased" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="flex h-full flex-col bg-zinc-50 dark:bg-zinc-900">
		<main class="container mx-auto">
				<Header />
		</main>
		<slot />
	</body>
</html>
