---
import '@fontsource/karla/variable.css'
import Icon from '../components/icon.vue'
import Header from '../components/header.astro'
import background from '$/assets/background.webp'
import '../slide.css'

export type Props = {
	'full-title'?: string
	title?: string
}

const title = Astro.props['full-title'] ?? `${Astro.props.title} - Enzo Innocenzi`
---

<script>
// @ts-nocheck swup is in js
import Swup from 'swup'
import SwupScriptsPlugin from '@swup/scripts-plugin'
import SwupHeadPlugin from '@swup/head-plugin'
import SwupSlideTheme   from '@swup/slide-theme'
import SwupScrollPlugin from '@swup/scroll-plugin'
import SwupPreloadPlugin from '@swup/preload-plugin'
import SwupBodyClassPlugin from '@swup/body-class-plugin'

new Swup({
	plugins: [
		new SwupScriptsPlugin(), 
		new SwupHeadPlugin({
			persistTags: 'title'
		}), 
		new SwupSlideTheme(),
		new SwupScrollPlugin(), 
		new SwupPreloadPlugin(), 
		new SwupBodyClassPlugin(), 
	],
})
</script>

<!DOCTYPE html>
<html lang="en" style="background: black;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<title>{title}</title>
	</head>
	<body class="flex flex-col bg-[#040404] text-zinc-400 !visible !opacity-100 transition duration-75" style="visibility: hidden; opacity: 0;">
		<div class="relative flex flex-col flex-1">
			<div class="absolute inset-0 flex justify-center bg-cover bg-center">
				<div
					class="w-full bg-no-repeat bg-cover opacity-40"
					style={`background-image:url(${background.src})`}>
				</div>
			</div>
			<main id="swup" class="container flex flex-col flex-1 max-w-6xl mx-auto px-6 sm:px-12">
				<Header />
				<section class="mt-8 md:mt-32 flex flex-col flex-1">
					<slot />
				</section>

				<div class="my-12 flex flex-col items-center justify-center group">
					<span class="text-sm inline-flex items-center">Made with <Icon icon="heart" class="mx-2 w-5 h-5 translate-y-[1px] group-hover:text-red-300 transition duration-300 text-pink-200/90" />
					by &nbsp;
					<a class="link" href="https://twitter.com/enzoinnocenzi">Enzo Innocenzi</a></span>
				</div>
			</main>
		</div>
	</body>
</html>

<style is:global>
:root {
	tab-size: 4;
	@apply selection:bg-pink-200/10 selection:text-pink-200/90;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	overflow-y: scroll;
	@apply flex-1;
}

a.link {
	border-bottom-width: 0;
	background-image: linear-gradient(transparent, transparent), linear-gradient(theme('colors.pink.200'), theme('colors.pink.200'));
	background-size: 0 1px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size .3s ease-in-out;
}

a.link:hover {
	background-size: 100% 1px;
}
</style>
